@font-face {
  font-family: 'Nunito';
  font-weight: 900;
  src: local('Nunito'), url(./fonts/Nunito-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./fonts/Nunito-Light.ttf) format('opentype');
}

.font-style-bold{
  font-family: Nunito, Arial, serif;
  font-weight: bold;
}

.font-style-light{
  font-family: Nunito, Arial, serif;
  font-weight: light;
}

.w-100{
  width: 24.7rem;
}

.container{
  border-radius: 60px;
}

.blur-container{
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

.first{
  border-top-left-radius: 60px;
}

.last{
  border-bottom-left-radius: 60px;
}

.fill{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}